body {
    margin:0;
    padding:0;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("Imagens/campo-com-grama-e-nuvens_1112-621.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 43px;
}

p {
    font-family: Trattatello, fantasy;
    font-size: 25px;
}